<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ccprojecttutorial20220815200945.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ede04061-dc1f-471f-abcb-0eee7c99a504/resourcegroups/Md_Rabiul_Islam/providers/Microsoft.Web/sites/CCProjectTutorial20220815200945</ResourceId>
    <UserName>$CCProjectTutorial20220815200945</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ccprojecttutorial20220815200945.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>